<section id="contacto" class="contacto seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          Hablemos
        </div>
        <div class="col-12 col-md-4 descripcion">
          Contactame para trabajar juntos
        </div>
        <div class="col-12 col-md-4">
          <a href="mailto:avv0017@alu.medac.es">
            <button type="button">
              Contacto
              <i class="bi bi-envelope"></i>
            </button>
          </a>

        </div>
      </div>
    </div>

  </div>
</section>
